# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE
.idea/
.vscode/

# Claude Code
.claude/

# Other
*.DS_Store
client_secrets.json
token.json
youtube_token.json
token.json
